.menubar{
   
}
.menubarone nav{}
.menubarone nav ul{
    
}
.menubarone nav ul li{
     display: inline;
   
}
.menubarone nav ul li a{
    color: #240101;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
}
.menubarone nav ul :hover{
     background: black;
     color: white;
     border-radius: px;
}
.back{
   margin-left: 390px;
}

.bang{
    color: beige;
    background: #9f0808d1;
    text-align: center;
    font-size: 52px;
    padding: 11px;
}
.bangimg{
    width: 100%;
}
.about{
    text-align: center;
    background: beige;
    margin: 0px;
    padding: 2px;
}
.about h3{
    font-size: 32px;
}
.about p{
    text-align: justify;
   
    padding: 20px;
    margin-top: -23px;
}
.imageo{
    width: 50%; 
}
.imaget{
    width: 49%;
}
.fact{
    width: 1024px;
    background: #353c26;
    color: white;
    border-radius: 24px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border: 8px solid #d3b117;
    margin-left: 183px;
    margin-bottom: 8px;
}
.fact h1{
    text-align: center;
}
.fact h1 span{
    color: red;
}
.fact p{
    text-align: center;
}
.fact ul{
    text-align: center;
    
}
.fact ul li{
    text-align: center;
    text-decoration: none;
}
.factt{
    width: 1367px;
    background: #353c26;
    color: white;
    border-radius: 24px;
    padding: 10px;
    text-decoration: none;
    border: 8px solid #d3b117;
}
.factt h1 {
    text-align: center;
}
.gall{
   color: red;
   text-align: center;
}
.gallary{
  display: inline-flex;
}
.gallaryi{
    width: 469px;
}
.button{
    padding: 10px;
    background-color: #04000e;
    color: aliceblue;
    margin-left: 97px;
    margin-top: -5px;
    border: 3px solid #e3c609;
    border-radius: 19px;
    width: 300px;
  }
  .button:hover{
       padding: 10px;
    background-color: #120101;
    color: rgb(230 239 229);
    width: 470px;
    border-radius: 0px;
    margin-left: 0px;
  }
